/* ==UserStyle==
@name           Zenhub Catppuccin
@namespace      https://github.com/oafischer/dotfiles/
@version        0.0.2
@description    Catppuccin-Macchiato theme for Zenhub.
@author         oafischer
==/UserStyle== */
@-moz-document domain("app.zenhub.com") {
    [data-theme="night"] {
        color-scheme: dark;
        --zh-color-grey-light: #DDD;
        --zh-theme-color-bg-light-brand: #24273a;
        --zh-theme-color-bg-brand: #24273a;
        --zh-theme-color-bg-dark-brand: #181926;
        --zh-theme-color-bg-light: #1e2030;
        --zh-theme-color-bg-primary: #24273a;
        --zh-theme-color-bg-20: #1e2030;
        --zh-theme-color-bg-30: #1e2030;
        --zh-theme-color-bg-40: #181926;
        --zh-theme-color-disabled-bg: #1e2030;
        --zh-theme-color-skeleton-fill: #24273a;
        --zh-theme-color-dnd-blocked-bg: var(--zh-scale-red-100);
        --zh-theme-color-border: #494d64;
        --zh-theme-color-border-brand: #f4dbd6;
        --zh-theme-color-text-primary: #cad3f5;
        --zh-theme-color-text-secondary: #b8c0e0;
        --zh-theme-color-text-tertiary: #a5adcb;
        --zh-theme-color-text-placeholder: var(--zh-scale-grey-30);
        --zh-theme-color-text-disabled: var(--zh-scale-grey-40);
        --zh-theme-color-text-inverse: #24273a;
        --zh-theme-color-text-brand: #f4dbd6;
        --zh-theme-color-text-risk: var(--zh-scale-yellow-40);
        --zh-theme-color-text-danger: var(--zh-scale-red-60);
        --zh-theme-color-text-success: var(--zh-scale-green-50);
        --zh-theme-color-brand-blue-primary: #c6a0f6;
        --zh-theme-color-red-primary: var(--zh-scale-red-60);
        --zh-theme-color-green-primary: var(--zh-scale-green-50);
        --zh-theme-color-yellow-primary: var(--zh-scale-yellow-50);
        --zh-theme-color-purple-primary: var(--zh-scale-purple-50);
        --zh-theme-color-light-blue-primary: var(--zh-scale-light-blue-60);
        --zh-theme-color-light-purple-primary: var(--zh-scale-light-purple-50);
        --zh-theme-color-navy-blue-primary: var(--zh-scale-navy-blue-50);
        --zh-theme-color-btn-text: #cad3f5;
        --zh-theme-color-btn-hover-text: #cad3f5;
        --zh-theme-color-btn-bg: #363a4f;
        --zh-theme-color-btn-hover-bg: #1e2030;
        --zh-theme-color-btn-border: var(--zh-theme-color-border);
        --zh-theme-color-btn-hover-border: var(--zh-scale-grey-50);
        --zh-theme-color-btn-active-bg: var(--zh-theme-color-bg-light-brand);
        --zh-theme-color-btn-danger-text: var(--zh-scale-red-60);
        --zh-theme-color-btn-danger-hover-text: var(--zh-scale-red-70);
        --zh-theme-color-btn-danger-bg: var(--zh-scale-red-60);
        --zh-theme-color-btn-danger-hover-bg: var(--zh-scale-red-70);
        --zh-theme-color-btn-danger-border: var(--zh-scale-red-70);
        --zh-theme-color-btn-danger-hover-border: var(--zh-scale-red-80);
        --zh-theme-color-btn-action-text: #24273a;
        --zh-theme-color-btn-action-hover-text: #24273a;
        --zh-theme-color-btn-action-bg: #a6da95;
        --zh-theme-color-btn-action-hover-bg: #b1d8b2;
        --zh-theme-color-btn-action-border: #a6da95;
        --zh-theme-color-btn-action-hover-border: #b1d8b2;
        --zh-theme-color-btn-primary-text: #cad3f5;
        --zh-theme-color-btn-primary-hover-text: #b8c0e0;
        --zh-theme-color-btn-primary-bg: #a6da95;
        --zh-theme-color-btn-primary-hover-bg: #b1d8b2;
        --zh-theme-color-btn-primary-border: #00;
        --zh-theme-color-btn-primary-hover-border: #a6da95;
        --zh-theme-color-btn-secondary-text: #24273a;
        --zh-theme-color-btn-secondary-hover-text: #24273a;
        --zh-theme-color-btn-secondary-bg: #a6da95;
        --zh-theme-color-btn-secondary-hover-bg: #b1d8b2;
        --zh-theme-color-btn-secondary-border: #b1d8b2;
        --zh-theme-color-btn-secondary-hover-border: #b1d8b2;
        --zh-theme-color-btn-active-border: #f4dbd6;
        --zh-theme-color-btn-focus-outline: #f4dbd6;
        --zh-theme-color-btn-disabled-text: #a5adcb;
        --zh-theme-color-btn-disabled-bg: var(--zh-scale-grey-80);
        --zh-theme-color-btn-disabled-borders: var(--zh-scale-grey-70);
        --zh-theme-color-badge-bg: #f4dbd6;
        --zh-theme-color-issue-card-selected-bg: var(--zh-scale-brand-blue-100);
        --zh-theme-color-issue-card-selected-border: var(--zh-scale-brand-blue-60);
        --zh-theme-color-issue-card-selected-check-border: var(--zh-scale-brand-blue-90);
        --zh-theme-color-issue-card-selected-check-bg: var(--zh-scale-brand-blue-60);
        --zh-theme-color-issue-card-active-bg: var(--zh-scale-brand-blue-80);
        --zh-theme-color-issue-card-active-border: var(--zh-scale-brand-blue-60);
        --zh-theme-color-input-bg: #363a4f;
        --zh-theme-color-warning-bg: var(--zh-scale-yellow-100);
        --zh-theme-color-warning-border: var(--zh-scale-yellow-60);
        --zh-theme-color-success-bg: var(--zh-scale-green-100);
        --zh-theme-color-success-border: var(--zh-scale-green-70);
        --zh-theme-color-danger-bg: var(--zh-scale-red-100);
        --zh-theme-color-danger-border: var(--zh-scale-red-80);
        --zh-theme-color-info-bg: var(--zh-scale-light-blue-90);
        --zh-theme-color-info-border: var(--zh-scale-light-blue-70);
        --zh-theme-color-banner-text-primary: #cad3f5;
        --zh-theme-color-banner-text-secondary: #b8c0e0;
        --zh-theme-color-toast-bg: var(--zh-scale-grey-60);
        --zh-theme-color-tooltip-bg: #1e2030;
        --zh-theme-color-tooltip-text: #cad3f5;
        --zh-theme-color-flyover-insights-bg: var(--zh-theme-color-bg-20);
        --zh-theme-color-flyover-card-bg: var(--zh-theme-color-bg-light);
        --zh-theme-color-flyover-border: var(--zh-theme-color-border);
        --zh-theme-shadows-buttons: rgba(0, 0, 0, 0.1);
        --zh-theme-shadows-container: rgba(0, 0, 0, 0.06);
        --zh-theme-shadows-dropdown: 0 2px 20px 0 rgba(0, 0, 0, 0.7);
        --zh-theme-shadows-flyover: transparent;
        --zh-theme-shadows-toasts: transparent;
        --zh-theme-shadows-scroll-indicator-top: none;
        --zh-theme-shadows-scroll-indicator-bottom: none;
        --zh-theme-overlays-bg: rgba(0, 0, 0, 0.7);
        --zh-theme-color-chart-overlay: rgba(0, 0, 0, 0.3);
        --zh-theme-color-chart-tooltip-bg: var(--zh-scale-grey-50);
        --zh-theme-color-chart-tooltip-text: #cad3f5;
        --zh-theme-color-chart-tooltip-border: var(--zh-scale-grey-40);
        --zh-theme-color-chart-average-line: var(--zh-scale-light-blue-50);
        --zh-theme-color-velocity-chart-closed: var(--zh-scale-grey-30);
        --zh-theme-color-release-chart-completed: var(--zh-scale-brand-blue-60);
        --zh-theme-color-release-chart-estimated: var(--zh-scale-brand-blue-70);
        --zh-theme-color-release-chart-total: var(--zh-scale-brand-blue-80);
        --zh-theme-color-release-chart-bg-grey: var(--zh-scale-grey-30);
        --zh-roadmap-group-color-1: hsl(232, 60%, 34%);
        --zh-roadmap-group-color-2: hsl(260, 57%, 34%);
        --zh-roadmap-group-color-3: hsl(283, 79%, 34%);
        --zh-roadmap-group-color-4: hsl(185, 86%, 34%);
        --zh-roadmap-group-color-5: hsl(206, 69%, 34%);
        --zh-roadmap-status-color-on-time: hsl(162, 65%, 34%);
        --zh-roadmap-status-color-at-risk: hsl(43, 76%, 34%);
        --zh-roadmap-status-color-running-late: hsl(0, 83%, 34%);
        --zh-roadmap-complete: hsl(213, 26%, 34%);
        --zh-roadmap-color-skeleton-primary-item: var(--zh-scale-grey-50);
        --zh-roadmap-color-skeleton-secondary-item: var(--zh-scale-grey-40);
        --zh-epic-status-open-bg: var(--zh-scale-brand-blue-100);
        --zh-epic-status-open-bg-hover: var(--zh-scale-brand-blue-90);
        --zh-epic-status-open-text: #cad3f5;
        --zh-epic-status-open-border: var(--zh-scale-brand-blue-60);
        --zh-epic-status-todo-bg: var(--zh-scale-yellow-100);
        --zh-epic-status-todo-bg-hover: var(--zh-scale-yellow-90);
        --zh-epic-status-todo-text: #cad3f5;
        --zh-epic-status-todo-border: var(--zh-scale-yellow-50);
        --zh-epic-status-inprogress-bg: var(--zh-scale-purple-100);
        --zh-epic-status-inprogress-bg-hover: var(--zh-scale-purple-90);
        --zh-epic-status-inprogress-text: #cad3f5;
        --zh-epic-status-inprogress-border: var(--zh-scale-purple-50);
        --zh-epic-status-completed-bg: var(--zh-scale-green-100);
        --zh-epic-status-completed-bg-hover: var(--zh-scale-green-90);
        --zh-epic-status-completed-text: #cad3f5;
        --zh-epic-status-completed-border: var(--zh-scale-green-50);
        --zh-zh-issue-status-open-bg: var(--zh-scale-green-100);
        --zh-zh-issue-status-open-bg-hover: var(--zh-scale-green-90);
        --zh-zh-issue-status-open-text: #cad3f5;
        --zh-zh-issue-status-open-border: var(--zh-scale-green-60);
        --zh-zh-issue-status-closed-bg: var(--zh-scale-red-100);
        --zh-zh-issue-status-closed-bg-hover: var(--zh-scale-red-90);
        --zh-zh-issue-status-closed-text: #cad3f5;
        --zh-zh-issue-status-closed-border: var(--zh-scale-red-50);
        --zh-theme-color-gh-green: var(--zh-scale-gh-green);
        --zh-theme-color-gh-red: var(--zh-scale-gh-red);
        --zh-theme-color-gh-purple: var(--zh-scale-gh-purple);
        --zh-theme-color-gh-yellow: var(--zh-scale-gh-yellow);
        --zh-theme-color-gh-draft: var(--zh-scale-gh-draft);
        --zh-theme-color-gh-btn-bg: var(--zh-scale-grey-0);
        --zh-theme-color-gh-btn-text: #cad3f5;
        --zh-theme-color-gh-btn-hover-bg: var(--zh-scale-grey-10);
        --zh-theme-color-gh-btn-hover-text: #cad3f5;
    }

    [data-scale="dark"] {
        --zh-scale-white: #FFF;
        --zh-scale-grey-0: #F0F6FC;
        --zh-scale-grey-10: #C9D1D9;
        --zh-scale-grey-20: #B1BAC4;
        --zh-scale-grey-30: #8B949E;
        --zh-scale-grey-40: #6E7681;
        --zh-scale-grey-50: #484F58;
        --zh-scale-grey-60: #30363D;
        --zh-scale-grey-70: #21262D;
        --zh-scale-grey-80: #161B22;
        --zh-scale-grey-90: #0D1117;
        --zh-scale-brand-blue-10: #cae8ff;
        --zh-scale-brand-blue-20: #a5d6ff;
        --zh-scale-brand-blue-30: #79c0ff;
        --zh-scale-brand-blue-40: #58a6ff;
        --zh-scale-brand-blue-50: #388bfd;
        --zh-scale-brand-blue-60: #1f6feb;
        --zh-scale-brand-blue-70: #1158c7;
        --zh-scale-brand-blue-80: #0d419d;
        --zh-scale-brand-blue-90: #0c2d6b;
        --zh-scale-brand-blue-100: #051d4d;
        --zh-scale-green-10: #aff5b4;
        --zh-scale-green-20: #7ee787;
        --zh-scale-green-30: #56d364;
        --zh-scale-green-40: #3fb950;
        --zh-scale-green-50: #2ea043;
        --zh-scale-green-60: #238636;
        --zh-scale-green-70: #196c2e;
        --zh-scale-green-80: #0f5323;
        --zh-scale-green-90: #033a16;
        --zh-scale-green-100: #04260f;
        --zh-scale-red-10: #ffdcd7;
        --zh-scale-red-20: #ffc1ba;
        --zh-scale-red-30: #ffa198;
        --zh-scale-red-40: #ff7b72;
        --zh-scale-red-50: #f85149;
        --zh-scale-red-60: #da3633;
        --zh-scale-red-70: #b62324;
        --zh-scale-red-80: #8e1519;
        --zh-scale-red-90: #67060c;
        --zh-scale-red-100: #490202;
        --zh-scale-yellow-10: #f8e3a1;
        --zh-scale-yellow-20: #f2cc60;
        --zh-scale-yellow-30: #e3b341;
        --zh-scale-yellow-40: #d29922;
        --zh-scale-yellow-50: #bb8009;
        --zh-scale-yellow-60: #9e6a03;
        --zh-scale-yellow-70: #845306;
        --zh-scale-yellow-80: #693e00;
        --zh-scale-yellow-90: #4b2900;
        --zh-scale-yellow-100: #341a00;
        --zh-scale-purple-10: #eddeff;
        --zh-scale-purple-20: #e2c5ff;
        --zh-scale-purple-30: #d2a8ff;
        --zh-scale-purple-40: #bc8cff;
        --zh-scale-purple-50: #a371f7;
        --zh-scale-purple-60: #8957e5;
        --zh-scale-purple-70: #6e40c9;
        --zh-scale-purple-80: #553098;
        --zh-scale-purple-90: #3c1e70;
        --zh-scale-purple-100: #271052;
        --zh-scale-light-blue-10: #eddeff;
        --zh-scale-light-blue-20: #e2c5ff;
        --zh-scale-light-blue-30: #d2a8ff;
        --zh-scale-light-blue-40: #bc8cff;
        --zh-scale-light-blue-50: #a371f7;
        --zh-scale-light-blue-60: #8957e5;
        --zh-scale-light-blue-70: #6e40c9;
        --zh-scale-light-blue-80: #553098;
        --zh-scale-light-blue-90: #3c1e70;
        --zh-scale-light-blue-100: #271052;
        --zh-scale-light-purple-10: #ffdaec;
        --zh-scale-light-purple-20: #ffbedd;
        --zh-scale-light-purple-30: #ff9bce;
        --zh-scale-light-purple-40: #f778ba;
        --zh-scale-light-purple-50: #db61a2;
        --zh-scale-light-purple-60: #bf4b8a;
        --zh-scale-light-purple-70: #9e3670;
        --zh-scale-light-purple-80: #7d2457;
        --zh-scale-light-purple-90: #5e103e;
        --zh-scale-light-purple-100: #42062a;
        --zh-scale-navy-blue-10: #eddeff;
        --zh-scale-navy-blue-20: #e2c5ff;
        --zh-scale-navy-blue-30: #d2a8ff;
        --zh-scale-navy-blue-40: #bc8cff;
        --zh-scale-navy-blue-50: #a371f7;
        --zh-scale-navy-blue-60: #8957e5;
        --zh-scale-navy-blue-70: #6e40c9;
        --zh-scale-navy-blue-80: #553098;
        --zh-scale-navy-blue-90: #3c1e70;
        --zh-scale-navy-blue-100: #271052;
        --zh-scale-gh-green: #a6da95;
        --zh-scale-gh-red: #ed8796;
        --zh-scale-gh-purple: #c6a0f6;
        --zh-scale-gh-yellow: #eed49f;
        --zh-scale-gh-draft: #6e738d;
    }

    body {
        color: #cad3f5;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-size: 14px;
        line-height: 1.5;
    }

    .zhc-button--color-secondary.zhc-button--variant-text {
        color: #cad3f5;
    }

    .zhc-issue-badge--pr-merged {
        background-color: #c6a0f6;
    }

    .zh-dependency-manager-container.TimelineItem .zhc-dependency {
        background-color: #1e2030 !important;
    }

    .zhc-selection-list-deprecated__list {
        background-color: #1e2030;
    }

    .zhc-selection-list-deprecated__header {
        background-color: #1e2030;
    }

    .zhc-selection-filter {
        background-color: #1e2030 !important;
    }

    .zhc-selection-list-deprecated__header__text {
        color: #cad3f5 !important;
    }

    .zhc-selection-item {
        color: #cad3f5 !important;
    }

    .zh-dependency-manager-container.TimelineItem .zhc-dependency {
        background-color: #1e2030 !important;
        color: #cad3f5 !important;
    }

    .m8zYn8Kz8WiprsHUT4YQ {
        background-color: #1e2030 !important;
    }

    .LHHaVUnL9gmubSXu1AI9 {
        color: #cad3f5;
    }
}
